body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;

}

.my-container {
    background-color: #fff;
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    border: none;
    width: 393px;
}

/*상단바*/

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.header-back {
    margin-top: 20px;
    cursor: pointer;
}

.header-title {
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
}

.header-point {
    margin-top: 20px;
    cursor: pointer;
}

/*프로필*/

.my-content {
    padding: 20px;
    padding-top: 5px;
    margin: 10px;
}

.profile {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.icon {
    margin-right: 15px;
}

.profile-info h1 {
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 0;

}

.profile-info p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;

}

.edit {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding-right: 20px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*포인트, 랭크, 이용횟수*/

.point {
    background-color: #CDE5C5;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.total-point, .monthly-point {
    display: flex;
    align-items: center;
}

.rank {
    background-color: #F9F5D1;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.rank-text {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.kongicon, .rankicon {
    margin-right: 15px;
}

.total-info p, .monthly-info p, .rank-info p {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
}

.total-info h2, .monthly-info h2, .rank-info h2 {
    font-size: 23px;
    font-weight: 700;
    margin-top: 0px;
}

.point button, .rank button {
    background-color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #f3f3f3;
}

/* 팝업 모달 스타일 */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    width: 280px;
    max-width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #fff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content label {
    font-size: 13px;
    font-weight: 600;
    color: #538F74;
    margin-bottom: 0px;
    display: block;
}


input#current-nickname, input#nickname-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #f5f5f5;
}

input#current-nickname:disabled {
    background-color: #F5F5F5;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

#nickname-input::placeholder {
    color: #888; 
    opacity: 1;
    font-size: 16px;
    font-weight: 700;
}

.modal-button {
    background-color: #6BA084;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #6BA084;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.modal-button:hover {
    background-color: #6BA084;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* 버튼 */
.modal-button.save {
    background-color: #6BA084;
    color: #fff;
}

.modal-button.cancel {
    background-color: #fff;
    color: #6BA084;
}

/*포인트적립*/
.bottom button {
    background-color: #a4a4a4;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0px;
}