body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

.main-container {
    background-color: #fff;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: none;
    width: 393px;
}

/*head*/

.hi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;       
}

.hi-text {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.hi-text h1 {
    font-size: 16px;
    color: #868686;
    margin-bottom: -40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -45px;
}

.hi-text h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.hi-img img{
    width: 120px;
    height: auto;
    margin-bottom: -20px;
}

/*point*/

.points-section {
    background-color: #F9F5D1;
    padding: 10px;
    padding-left: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -45px;
    display: flex;
    align-items: center;
}

.kong-section {
    margin-right: 60px;
}

.points-section h3 {    
    font-size: 14px;
    color: #7E7E7E;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 3px;
}

.points-section img {   
    margin-left: 10px;
    margin-top: 10px;
}

.kong-info {
    display: flex;
    align-items: center;
}

.points {
    font-size: 30px;
    font-weight: bold;
    color: #313131;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.kong {
    font-size: 20px;
    font-weight: bold;
    color: #313131;
    margin-bottom: -18px;
}

.tree-section {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.tree2 {
    font-size: 20px;
    font-weight: bold;
    color: #6BAA51;
    font: Alkatra;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tree-status {
    font-size: 14px;
    color: #888;
}

.camera-section {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.camera-section h1 {
    font-size: 14px;
    color: #7E7E7E;
    margin-bottom: 0px;
}

.camera-section img {
    width: 100px;
    height: auto;
    transition: background-color 0.3s ease;
}

.camera-section img.clicked {
    opacity: 0.5;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 0.8px solid #CDE5C5;
    margin-bottom: 5px;
    margin-top: -15px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    margin-top: -10px;
}

.icon {
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

