body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;

}

.qa-container {
    background-color: #fff;
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    border: none;
    width: 393px;
    position: relative;
    z-index: 1;
}

.qa-container__background {
    background: #cde5c5;
    border-radius: 0 0 20px 20px;
    width: 393px;
    height: 110px;
    position: absolute;
    left: 0;
    top: 70px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
}


/*상단바*/

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    z-index: 2;
    position: relative;

}

.header-back {
    margin-top: 20px;
    cursor: pointer;
}

.header-title {
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
}

.header-point {
    margin-top: 20px;
    cursor: pointer;
}

.explain {
    font-size: 20px;
    font-weight: 900;
    margin-left: 40px;
    margin-top: 40px;
    z-index: 2;    position: relative;

}

.qa-content {
    padding: 20px;
    margin-top: 20px;
}

.item {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.notice-item, .qna-item {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
}

.noticeicon, .qnaicon {
    margin: 15px;
}

.text h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}

.date, .email {
    font-size: 14px;
    font-weight: 600;
    color: #538F74;
    margin-top: 5px;
}

.notice-item:hover, .qna-item:hover {
    opacity: 0.7; /* hover 효과 추가 가능 */
}