.frame {
  flex-shrink: 0;
  width: 187px;
  height: 147px;
  position: relative;
  cursor: pointer;
}

.group-274 {
  width: 176px;
  height: 49px;
  position: static;
}

.group-273 {
  width: 82px;
  height: 21px;
  position: static;
}

.kong-2 {
  width: 12;
  height: 12;
  position: static;
  
}

.title {
  color: #404040;
  font-size: 16px; 
  line-height: 21px;
  font-weight: 700;
  position: relative; 
  left: 0; 
  text-align: left; 
  z-index: 10;
  top:92px;
  width: auto;
  left:10px;
}



.group {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 57%;
  top: 83.5%;
  overflow: visible;
}



.description {
  color: #212121;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  right: 38.29%;
  left: 7%;
  width: 64.44%;
  top: calc(50% - -40.5px);
  height: 34.55px;
}

.item-image {
  width: 176px;
  height: 93px;
  position: absolute;
  left: calc(50% - 85.5px);
  top: -4px;
  object-fit: cover;
}
.required-points {
  color: #1c1c1c;  
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 83%;  
  left: 85%;
  transform: translateX(-50%);
  text-align: center;
  width: 60px;
}

