
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  }
  
  .lankpage {
    background: #cde5c5;
    width: 100vw;
    height:100vh;
    width: 393px;
    position: relative;
  }
  
  .ranking-header {
    background-color: #cde5c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .ranking-header h2 {
    font-size: 23px;
    font-weight: 700;
    margin-top: 30px;
  }
  
  .vector-icon {
    margin-top: 15px;
    cursor: pointer;
  }

  .point-icon {
    margin-top: 15px;
    cursor: pointer;
  }
  
  
  .top-rankings {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 30px;
    
  }
  
  .rank-item {
    text-align: center;
  }
  
  .rank-name {
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px; 
    margin-bottom: 10px;
    color: #313131;
    font-weight: 700;
  }
  
  .profile-img {
    width: 55px; 
    height: 55px; 
    border-radius: 50%;
    border: 3px solid #538f74;
    margin-bottom: 10px;
  }
  
  .rank-points {
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px; 
    font-weight: 600;
    color: #404040;
  }
  
  .rank-medal {
    width: 50px; 
    height: 50px; 
    margin-top: 5px;
  }
  
  .rankings-list {
    background: #ffffff;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  
  .ranking-item {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1.5px solid #eee;
    height: 60px;
    line-height: 40px;
  }
  
  .rank-number {
    font-size: 22px; 
    font-weight: 700;
    color: #538f74;
  }
  
  .rank-name {
    font-size: 18px; 
    font-weight: 700;
    color: #313131;
  }
  
  .rank-points {
    font-size: 16px; 
    color: #404040;
    font-weight: 600;
  }
  
  .lankpage .div1 {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .lankpage .pointpage {
    background-color: #313131;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 254px;
    height: 45px;
    position: absolute;
    left: calc(50% - 126.5px);
    top: 600px;
    cursor: pointer;
  }
  
  
  